@use "../size";

.featured__events {
  display: grid;
  gap: var(--space--1);
}

@media screen and (min-width: size.$interpolate-min) {
  .featured__events {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    > :nth-child(1) {
      grid-row: span 2;
      grid-column: span 2;
    }
  }
}
